/* Desktop CSS */
@media (min-width:768px){

    header {
        width: 100%;
        top: 0;
        left: 100;
        padding: 30px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo {
        text-decoration: none;
        font-size: 2em;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    header ul {
        width: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 100px;
    }

    header ul li {
        list-style: none;
        margin-left: 20px;
        left: 100;
    }

    header ul li a {
        text-decoration: none;
        padding: 6px 15px;
    }

    header ul li a:hover {
        background-color: #1c10c4;
        color: #fff;
        border-radius: 5px;
    }

    .icon {
        display: none;
    }

}

/* Mobile CSS */
@media (max-width:768px){

    header {
        overflow: hidden;
        background-color: #1c10c4;
        position: relative;
    }

    nav #Links {
        display: none;
    }

    .logo {
        color: white;
        font-size: 2.3em;
    }

    nav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    nav a:hover {
        background-color: rgb(18, 68, 148);
        color: black;
    }

    .icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }


}

/* General CSS */

a {
    text-decoration: none; 
    color: inherit; 
} 

body {
    overflow-x: hidden;
    font-weight: bold;
    color: #1c10c4;
    font-family: 'Roboto', sans-serif;
}