---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const allPosts = await getCollection("posts");
---

<Layout title="Where Is Brian - Blog">
  <main class="max-w-2xl">
    <h1><span class="text-gradient">Blog</span></h1>
    <p class="instructions">
      Bienvenue sur le blog <a href="/">Where Is Brian</a> ! Découvrez nos articles
      sur notre association et suivez l'avancement de notre association. Nous partageons
      avec vous nos expériences, nos rencontres, nos découvertes et nos projets.
      Rejoignez-nous pour vivre une aventure unique !
      <ul role="list" class="link-card-grid">
        {
          allPosts.map((post: any) => (
            <Card
              href={"/posts/" + post.slug}
              title={post.data.title}
              body={post.data.description}
            />
          ))
        }
      </ul>
    </p>
  </main>
</Layout>
