---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Where Is Brian - Contact">
	<main>
		<h1>Nous <span class="text-gradient">conctacter</span></h1>
		<p class="instructions">
			Vous pouvez nous contacter depuis l'adresse <code><a href="mailto:contact@whereisbrian.org">contact@whereisbrian.org</a></code>
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/"
				title="Accueil"
				body="Accueil"
			/>
		</ul>
	</main>
</Layout>