---
export interface Props {
  signup?: boolean;
}
const { signup } = Astro.props;
---

{
  signup && (
    <>
      <input
        type="text"
        placeholder="Nom"
        class="name my-2 block rounded border border-gray-300 px-3 py-2 focus:border-blue-500 
         focus:outline-none dark:border-gray-700 dark:bg-gray-800 dark:text-white"
      />

      <input
        type="text"
        placeholder="Prénom"
        class="firstname my-2 block rounded border border-gray-300 px-3 py-2 focus:border-blue-500 
         focus:outline-none dark:border-gray-700 dark:bg-gray-800 dark:text-white"
      />
    </>
  )
}
<input
  type="text"
  placeholder="Adresse email"
  class="email my-2 block rounded border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none dark:border-gray-700 dark:bg-gray-800 dark:text-white"
/>

<input
  type="password"
  placeholder="Mot de passe"
  class="password my-2 block rounded border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none dark:border-gray-700 dark:bg-gray-800 dark:text-white"
/>

{
  signup && (
    <>
      <input
        type="password"
        placeholder="Confirmer le mot de passe"
        class="password-confirm my-2 block rounded border border-gray-300 px-3 py-2 focus:border-blue-500 
         focus:outline-none dark:border-gray-700 dark:bg-gray-800 dark:text-white"
      />

      <label for="english-level" class="my-2 block">
        Niveau d'anglais
      </label>
      <select
        name="english-level"
        id="english-level"
        class="english-level my-2 block rounded border border-gray-300 px-3 py-2 focus:border-blue-500 
         focus:outline-none dark:border-gray-700 dark:bg-gray-800 dark:text-white"
      >
        <option value="basic">Basique</option>
        <option value="B1">B1</option>
        <option value="B2">B2</option>
        <option value="C1">C1</option>
        <option value="C2">C2</option>
      </select>
    </>
  )
}

<style>
  input,
  select {
    @apply my-2 block rounded border border-gray-300 px-3 py-2 focus:border-blue-500 focus:outline-none;
  }
  input:focus {
    @apply border-blue-500;
    outline: none;
  }
</style>
