---
export interface Props {
  signup? : boolean;
}
const { signup } = Astro.props;
---
{signup && (
    <>
    <input type="text" placeholder="Nom" class="name"/>
    <input type="text" placeholder="Prénom" class="firstname"/>
    </>
    )}
<input type="text" placeholder="Adresse email" class="email"/>
<input type="password" placeholder="Mot de passe" class="password"/>
{signup && (
    <>
    <input type="password" placeholder="Confirmer le mot de passe" class="password-confirm"/>
    <label for="english-level">Niveau d'anglais</label>
    <select name="english-level" id="english-level" class="english-level">
        <option value="basic">Basique</option>
        <option value="B1">B1</option>
        <option value="B2">B2</option>
        <option value="C1">C1</option>
        <option value="C2">C2</option>
    </select>
    </>
    )}
<style>

input {
	display: block;
	margin: 0.5rem 0;
	padding: 0.5rem;
	border: 1px solid rgba(var(--accent), 25%);
	border-radius: 0.4rem;
}

input:focus {
  outline: none;
  border-color: rgba(var(--accent), 50%);
}

select {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid rgba(var(--accent), 25%);
  border-radius: 0.4rem;
}

</style>