---
export interface Props {
  signup? : boolean;
}
const { signup } = Astro.props;
---
{signup && (
  <>
  <input type="text" placeholder="Nom" 
  class="block my-2 py-2 px-3 border border-gray-300 rounded focus:outline-none focus:border-blue-500 
         dark:bg-gray-800 dark:border-gray-700 dark:text-white name" />

<input type="text" placeholder="Prénom" 
  class="block my-2 py-2 px-3 border border-gray-300 rounded focus:outline-none focus:border-blue-500 
         dark:bg-gray-800 dark:border-gray-700 dark:text-white firstname" />

  </>
)}
<input type="text" placeholder="Adresse email" 
class="block my-2 py-2 px-3 border border-gray-300 rounded focus:outline-none focus:border-blue-500 
       dark:bg-gray-800 dark:border-gray-700 dark:text-white email" />

<input type="password" placeholder="Mot de passe" 
class="block my-2 py-2 px-3 border border-gray-300 rounded focus:outline-none focus:border-blue-500 
       dark:bg-gray-800 dark:border-gray-700 dark:text-white password" />

{signup && (
  <>
  <input type="password" placeholder="Confirmer le mot de passe" 
  class="block my-2 py-2 px-3 border border-gray-300 rounded focus:outline-none focus:border-blue-500 
         dark:bg-gray-800 dark:border-gray-700 dark:text-white password-confirm" />

<label for="english-level" class="block my-2">Niveau d'anglais</label>
<select name="english-level" id="english-level" 
  class="block my-2 py-2 px-3 border border-gray-300 rounded focus:outline-none focus:border-blue-500 
         dark:bg-gray-800 dark:border-gray-700 dark:text-white english-level">
  <option value="basic">Basique</option>
  <option value="B1">B1</option>
  <option value="B2">B2</option>
  <option value="C1">C1</option>
  <option value="C2">C2</option>
</select>
  </>
)}

<style>
  input, select {
    @apply block my-2 py-2 px-3 border border-gray-300 rounded focus:outline-none focus:border-blue-500;
  }
  input:focus {
    @apply border-blue-500;
    outline: none;
  }
</style>