---
import Switcher from "./Switcher.astro";
---

<header class="flex items-center">
  <a href="/"><img src="/logo.svg" alt="logo" class="logo h-16 w-16" /></a>
  <a
    href="/login"
    class="hlogin mr-4 rounded bg-blue-400 px-2 py-2 text-white transition-all duration-500 ease-in-out hover:bg-blue-600 sm:px-4"
    >Connexion</a
  >
  <a
    href="/blog"
    class="mr-4 rounded bg-blue-400 px-2 py-2 text-white transition-all duration-500 ease-in-out hover:bg-blue-600 sm:px-4"
    >Blog</a
  >
  <Switcher />
  <img
    src="/logout.svg"
    alt="logout"
    class="logout m-4 ml-auto h-8 w-8 hover:cursor-pointer dark:invert"
    style="display: none"
  />
</header>
