<header class="flex items-center">
    <a href="/"><img src="/logo.svg" alt="logo" class="logo w-16"/></a>
    <a href="/login" class="hlogin bg-blue-400 hover:bg-blue-600 mr-4 py-2 px-4 rounded text-white transition-all duration-500 ease-in-out">Connexion</a>
    <a href="/blog" class="bg-blue-400 hover:bg-blue-600 mr-4 py-2 px-4 rounded text-white transition-all duration-500 ease-in-out">Blog</a>
    <img src="/logout.svg" alt="logout" class="logout" style="display: none;"/>
</header>