<div id='section' class="flex flex-col sm:flex-row m-8">
    <div class="sm:w-1/2 bg-blue-500 max-sm:rounded-t sm:rounded-l-lg">
        <h3 class="text-white text-4xl m-4">Sorties</h3>
        <p class="text-white text-justify m-2">
            Notre but étant d’aider les gens à apprendre l'anglais, nous organisons des sorties avec d’autres membres souhaitant approfondir leur aisance en anglais à l’oral. Nous croyons que l'apprentissage de la langue doit être amusant et interactif, c'est pourquoi nous organisons ces activités culturelles pour pratiquer l'anglais dans des contextes authentiques. 
        </p>
    </div>

    <div class="sm:w-1/2 bg-blue-500 max-sm:rounded-b sm:rounded-r-lg flex flex-col items-center">
        <img src="/calendar.svg" class="w-32 h-32" alt="Calendar icon">
        <a href="/posts/nos-projets" class="text-white bg-blue-400 hover:bg-blue-600 font-bold py-2 px-4 rounded m-4">Plus d'informations</a>
    </div>   
</div>

<div class="flex flex-col-reverse sm:flex-row m-8">

    <div class="sm:w-1/2 bg-blue-500 max-sm:rounded-b sm:rounded-l-lg flex flex-col items-center">
        <img src="/training.svg" class="invert w-32 h-32" alt="Exercices icon">
        <a href="/posts/nos-projets" class="text-white bg-blue-400 hover:bg-blue-600 font-bold py-2 px-4 rounded m-4">Plus d'informations</a>
    </div>  
    
    <div class="sm:w-1/2 bg-blue-500 max-sm:rounded-t sm:rounded-r-lg">
        <h3 class="text-white text-4xl m-4">Exercices</h3>
        <p class="text-white text-justify m-2">
            Nous proposons gratuitement et en libre accès des exercices et des leçons sur notre site pour les personnes souhaitant développer et approfondir leur apprentissage de la langue. Notre but étant de rendre l’apprentissage de la langue anglaise le plus accessible possible. 
        </p>
    </div>
</div>