<div id='section' class="invisible flex sm:items-center flex-col sm:flex-row sm:md-32 xl:mx-64 m-8 rounded-lg outline outline-blue-600 bg-white dark:bg-slate-800">
    <div class="sm:w-1/2 max-sm:rounded-t sm:rounded-l-lg">
        <h3 class="text-black dark:text-white text-4xl m-4">Sorties</h3>
        <p class="text-black dark:text-white text-justify m-4">
            Notre but étant d’aider les gens à apprendre l'anglais, nous organisons des sorties avec d’autres membres souhaitant approfondir leur aisance en anglais à l’oral. Nous croyons que l'apprentissage de la langue doit être amusant et interactif, c'est pourquoi nous organisons ces activités culturelles pour pratiquer l'anglais dans des contextes authentiques. 
        </p>
    </div>

    <div class="sm:w-1/2 max-sm:rounded-b sm:rounded-r-lg flex flex-col items-center">
        <img src="/calendar.svg" class="w-32 h-32 invert dark:invert-0" alt="Calendar icon">
        <a href="/posts/nos-projets" class="text-white bg-blue-400 hover:bg-blue-600 font-bold py-2 px-4 rounded m-4 transition-all duration-500 ease-in-out">Plus d'informations</a>
    </div>   
</div>

<div id="section2" class="invisible flex sm:items-center flex-col-reverse sm:flex-row sm:md-32 xl:mx-64 m-8 rounded-lg outline outline-blue-600 bg-white dark:bg-slate-800">

    <div class="sm:w-1/2 max-sm:rounded-b sm:rounded-l-lg flex flex-col items-center">
        <img src="/training.svg" class="w-32 h-32 invert-0 dark:invert" alt="Exercices icon">
        <a href="/posts/nos-projets" class="text-white bg-blue-400 hover:bg-blue-600 font-bold py-2 px-4 rounded m-4 transition-all duration-500 ease-in-out">Plus d'informations</a>
    </div>  
    
    <div class="sm:w-1/2 max-sm:rounded-t sm:rounded-r-lg">
        <h3 class="text-black dark:text-white text-4xl m-4">Exercices</h3>
        <p class="text-black dark:text-white text-justify m-4">
            Nous proposons gratuitement et en libre accès des exercices et des leçons sur notre site pour les personnes souhaitant développer et approfondir leur apprentissage de la langue. Notre but étant de rendre l’apprentissage de la langue anglaise le plus accessible possible. 
        </p>
    </div>
</div>
<script>
    const s1 = document.getElementById('section');
    const s2 = document.getElementById('section2');

    if(s1) {
        const observer = new IntersectionObserver(entries => {
            if (entries[0].isIntersecting) {
            s1.classList.add('animate-in', 'slide-in-from-bottom', 'zoom-in', 'fade-in', 'duration-300');
            s1.classList.remove('invisible');
        }
        });
        observer.observe(s1);
    }

    if(s2) {
        const observer = new IntersectionObserver(entries => {
            if (entries[0].isIntersecting) {
            s2.classList.add('animate-in', 'slide-in-from-bottom', 'zoom-in', 'fade-in', 'duration-500');
            s2.classList.remove('invisible');
        }
        });
        observer.observe(s2);
    }
</script>