<div class="wave-container">
  <svg class="waves" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
      <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" class="fill-blue-400 opacity-70" />
      <use xlink:href="#gentle-wave" x="48" y="3" class="fill-blue-500 opacity-50" />
      <use xlink:href="#gentle-wave" x="48" y="5" class="fill-blue-600 opacity-30" />
      <use xlink:href="#gentle-wave" x="48" y="7" class="fill-gray-100" />
    </g>
  </svg>
</div>