---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import { Spa } from "astro-spa";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Firebase from "../components/Firebase.astro";
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content="L'association Where Is Brian a pour objectif de rendre l'apprentissage de la langue anglaise plus facile et accessible à tous." />
	</head>
	<body>
		<Header />
		<slot />
		<!--Waves Container-->
		<div class="wave-container">
		<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
		viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
		<defs>
		<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
		</defs>
		<g class="parallax">
			<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(94,154,217,0.7)" />
			<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(94,136,201,0.5)" />
			<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(94,119,186,0.3)" />
			<use xlink:href="#gentle-wave" x="48" y="7" fill="#F6F6F6" />
		  </g>
		</svg>
		</div>
		<!--Waves end-->
		<Footer />
		<Firebase />
		<Spa prefetch={true} cache={true}/>
		
	</body>
</html>
<style is:global>
	:root {
		--accent: 1, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #2f0779 30%, white 60%);
	}
	body {
  		margin:0;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	/* Animation */

	.parallax {
		width: 100%;
	}

	.parallax > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
	}
	.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
	}
	.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
	}
	.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
	}
	.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
	}
	@keyframes move-forever {
	0% {
	transform: translate3d(-90px,0,0);
	}
	100% { 
		transform: translate3d(85px,0,0);
	}
	}
</style>
